body {
  background-color: #d3d1d1 !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

h2 {
  color: yellow;
}

ul li {
  color: black;
}

.container-fluid {
  margin-right: 200px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
}

.navbar-logo {
  height: 20px;
}
.row-container {
  width: 450px !important;
  margin: 20px 20px !important;
  box-shadow: 5px 5px 5px #b1afaf;
}
